In [1]:
from tqdm import tqdm
from pprint import pprint
import json
import pandas as pd
import sys
sys.path.append('/home/ajassani/iLoveTrace')
from Trace2Tree.trace_to_tree import TraceToTree
from tree_perf import TreePerfAnalyzer

In [2]:
path = '/home/ajassani/trace_data/jan6/MI325/gpt-3-xl_single-gpu_bfloat16_bs5_steps25_det0_prof1_level1/pytorch_profile_rank0.json'
with open(path, 'r') as f:
    data = json.load(f)

events = data['traceEvents']
tree = TraceToTree(events)
tree.build_tree(add_python_func=False)
perf_analyzer = TreePerfAnalyzer(tree)

Building tree with add_python_func=False
Building CPU op tree with add_python_func=False

In [3]:
df_kernel_launchers = perf_analyzer.get_df_kernel_launchers()
df_kernel_launchers.round(2)

,name,Input Dims,total_direct_kernel_time,direct_kernel_count
0,aten::fill_,"((5,), ())",4.89,1
1,aten::mse_loss_backward,"((), (5,), (5,), (), (5,))",4.77,1
2,aten::copy_,"((5,), (5,), ())",5.25,1
3,aten::div,"((5, 2048, 32), ())",5.57,1
4,aten::mm,"((10240, 32), (32, 2048))",26.80,1
...,...,...,...,...
9994,aten::_foreach_addcmul_,"((), (), (), ())",6033.31,100
9995,aten::_foreach_sqrt,"((),)",3677.09,90
9996,aten::_foreach_div_,"((), ())",4721.54,82
9997,aten::_foreach_add_,"((), ())",4687.17,81
9998,aten::_foreach_addcdiv_,"((), (), (), ())",7600.35,100

In [4]:
# this gives a good perf breakdown at op level
df_kernel_launchers_summary = perf_analyzer.get_df_kernel_launchers_summary(df_kernel_launchers)
df_kernel_launchers_summary.round(2)

,name,total_direct_kernel_time_sum,Count,total_direct_kernel_time_ms,Percentage (%),Cumulative Percentage (%)
13,aten::convolution_backward,363535.30,736,363.54,34.05,34.05
20,aten::miopen_convolution,156527.22,736,156.53,14.66,48.71
21,aten::mm,84654.09,300,84.65,7.93,56.64
19,aten::miopen_batch_norm_backward,59738.87,448,59.74,5.60,62.23
33,flash_attn::_flash_attn_backward,54526.56,25,54.53,5.11,67.34
9,aten::addmm,45762.04,147,45.76,4.29,71.62
18,aten::miopen_batch_norm,43081.60,448,43.08,4.03,75.66
12,aten::clamp_min_,34283.57,416,34.28,3.21,78.87
32,aten::threshold_backward,31333.86,576,31.33,2.93,81.81
14,aten::copy_,30761.00,2858,30.76,2.88,84.69
8,aten::add_,30090.80,1097,30.09,2.82,87.50
24,aten::mul,21646.68,408,21.65,2.03,89.53
31,aten::sum,13689.82,558,13.69,1.28,90.81
34,flash_attn::_flash_attn_forward,13559.75,25,13.56,1.27,92.08
28,aten::native_layer_norm_backward,11585.82,48,11.59,1.09,93.17
7,aten::add,10268.04,185,10.27,0.96,94.13
1,aten::_foreach_addcdiv_,7600.35,1,7.60,0.71,94.84
15,aten::div,6389.57,137,6.39,0.60,95.44
2,aten::_foreach_addcmul_,6033.31,1,6.03,0.57,96.01
4,aten::_foreach_lerp_,5868.06,1,5.87,0.55,96.56
25,aten::native_dropout,4819.77,72,4.82,0.45,97.01
5,aten::_foreach_mul_,4754.87,1,4.75,0.45,97.45
3,aten::_foreach_div_,4721.54,1,4.72,0.44,97.89
0,aten::_foreach_add_,4687.17,1,4.69,0.44,98.33
26,aten::native_dropout_backward,3756.85,72,3.76,0.35,98.69
6,aten::_foreach_sqrt,3677.09,1,3.68,0.34,99.03
17,aten::mean,3041.41,138,3.04,0.28,99.31
11,aten::clamp_min,2579.24,160,2.58,0.24,99.56
27,aten::native_layer_norm,2384.91,48,2.38,0.22,99.78
16,aten::fill_,655.54,77,0.66,0.06,99.84
30,aten::sigmoid_backward,638.84,136,0.64,0.06,99.90
29,aten::sigmoid,632.63,136,0.63,0.06,99.96
10,aten::cat,413.33,3,0.41,0.04,100.00
23,aten::mse_loss_backward,4.77,1,0.00,0.00,100.00
22,aten::mse_loss,4.77,1,0.00,0.00,100.00

In [5]:
# We can further get breakdown by shapes for a particular op
df_kernel_launchers_summary_name_shapes = perf_analyzer.get_df_kernel_launchers_summary_by_shape(df_kernel_launchers, "aten::miopen_convolution")
df_kernel_launchers_summary_name_shapes.round(2)

,Input Dims,Total Kernel Time (µs),Count,Mean Kernel Time (µs),Std Kernel Time (µs),Max Direct Kernel Count,Min Direct Kernel Count,Total Kernel Time (ms),Percentage (%),Cumulative Percentage (%)
25,"((5, 896, 59, 91), (896, 896, 1, 1), (), (), (...",34638.80,152,227.89,20.13,4,4,34.64,22.13,22.13
24,"((5, 896, 59, 91), (896, 56, 3, 3), (), (), ()...",19626.73,72,272.59,27.25,5,5,19.63,12.54,34.67
15,"((5, 224, 470, 725), (224, 56, 3, 3), (), (), ...",16607.51,8,2075.94,21.44,5,5,16.61,10.61,45.28
18,"((5, 448, 118, 182), (448, 56, 3, 3), (), (), ...",14882.01,24,620.08,38.24,5,5,14.88,9.51,54.79
19,"((5, 448, 118, 182), (448, 448, 1, 1), (), (),...",8897.00,56,158.87,7.17,1,1,8.90,5.68,60.47
12,"((5, 224, 235, 363), (224, 56, 3, 3), (), (), ...",8788.64,8,1098.58,29.53,5,5,8.79,5.61,66.08
13,"((5, 224, 235, 363), (224, 224, 1, 1), (), (),...",8539.26,24,355.80,25.69,1,1,8.54,5.46,71.54
21,"((5, 448, 235, 363), (448, 56, 3, 3), (), (), ...",7772.03,8,971.50,25.96,5,5,7.77,4.97,76.51
3,"((5, 32, 470, 725), (224, 32, 1, 1), (), (), (...",7202.19,16,450.14,118.97,3,1,7.20,4.60,81.11
14,"((5, 224, 235, 363), (448, 224, 1, 1), (), (),...",6458.96,16,403.69,143.84,3,1,6.46,4.13,85.23
27,"((5, 896, 118, 182), (896, 56, 3, 3), (), (), ...",3855.61,8,481.95,26.04,5,5,3.86,2.46,87.70
20,"((5, 448, 118, 182), (896, 448, 1, 1), (), (),...",3198.01,16,199.88,62.63,3,1,3.20,2.04,89.74
26,"((5, 896, 59, 91), (2016, 896, 1, 1), (), (), ...",3011.28,16,188.20,86.73,3,1,3.01,1.92,91.66
31,"((5, 2016, 59, 91), (2016, 56, 3, 3), (), (), ...",2496.55,8,312.07,33.96,5,5,2.50,1.59,93.26
29,"((5, 2016, 30, 46), (2016, 2016, 1, 1), (), ()...",1940.99,8,242.62,27.64,4,4,1.94,1.24,94.50
0,"((5, 3, 940, 1450), (32, 3, 3, 3), (), (), (),...",1882.83,8,235.35,16.79,5,5,1.88,1.20,95.70
30,"((5, 2016, 30, 46), (2048, 2016, 1, 1), (), ()...",1606.10,8,200.76,8.49,4,4,1.61,1.03,96.73
23,"((5, 896, 1, 1), (224, 896, 1, 1), (224,), (),...",1288.98,72,17.90,0.42,2,2,1.29,0.82,97.55
1,"((5, 4, 940, 1450), (3, 4, 1, 1), (), (), (), ...",1266.99,8,158.37,12.50,4,4,1.27,0.81,98.36
10,"((5, 224, 1, 1), (896, 224, 1, 1), (896,), (),...",755.61,72,10.49,0.50,2,2,0.76,0.48,98.84
17,"((5, 448, 1, 1), (112, 448, 1, 1), (112,), (),...",311.35,24,12.97,0.40,2,2,0.31,0.20,99.04
6,"((5, 112, 1, 1), (448, 112, 1, 1), (448,), (),...",302.54,24,12.61,0.42,2,2,0.30,0.19,99.24
28,"((5, 2016, 1, 1), (224, 2016, 1, 1), (224,), (...",295.52,8,36.94,0.16,2,2,0.30,0.19,99.42
22,"((5, 896, 1, 1), (112, 896, 1, 1), (112,), (),...",125.51,8,15.69,0.38,3,3,0.13,0.08,99.50
7,"((5, 112, 1, 1), (896, 112, 1, 1), (896,), (),...",124.59,8,15.57,0.47,2,2,0.12,0.08,99.58
4,"((5, 56, 1, 1), (224, 56, 1, 1), (224,), (), (...",115.98,8,14.50,0.52,2,2,0.12,0.07,99.66
16,"((5, 448, 1, 1), (56, 448, 1, 1), (56,), (), (...",110.77,8,13.85,0.40,2,2,0.11,0.07,99.73
5,"((5, 56, 1, 1), (448, 56, 1, 1), (448,), (), (...",99.31,8,12.41,0.29,2,2,0.10,0.06,99.79
11,"((5, 224, 1, 1), (2016, 224, 1, 1), (2016,), (...",95.74,8,11.97,0.39,2,2,0.10,0.06,99.85
8,"((5, 224, 1, 1), (8, 224, 1, 1), (8,), (), (),...",91.70,8,11.46,0.99,2,2,0.09,0.06,99.91
9,"((5, 224, 1, 1), (56, 224, 1, 1), (56,), (), (...",86.33,8,10.79,0.59,2,2,0.09,0.06,99.97
2,"((5, 8, 1, 1), (224, 8, 1, 1), (224,), (), (),...",51.80,8,6.47,1.00,1,1,0.05,0.03,100.00